html { 
  background: url(https://i.imgur.com/n9OM2bm.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3 {
  color: #757575;
}

.all {
  margin: 20px;
  padding: 20px;
  width: 400px;
}

.right {
    float: right;
}

.left{ 
  float: left;
}

.navbar {
   background-color: transparent;
   background: transparent;
}

body {
    background-color: transparent;
   background: transparent;
}

.navbar-default {
  border:none;
}