<div class="container">
  <h1>Drake Day!</h1>
  <button type="button" class="btn btn-success btn-lg">Mid Drake</button>
  <button type="button" class="btn btn-warning btn-lg">New Drake</button>
  <button type="button" class="btn btn-danger btn-lg">New Drake</button>
</div>