<div class="container">
  <h1>Drake Day!</h1>
  <div id="soundcloud_client">


  </div>
  <button type="button" id="old" class="btn btn-success btn-lg">Old Drake</button>
  <button type="button" id="mid" class="btn btn-warning btn-lg">Mid Drake</button>
  <button type="button" id="new" class="btn btn-danger btn-lg">New Drake</button>

</div>